<h1 class="text-center mt-5">Make a new post</h1>
<form class="container container-fluid border border-dark rounded pb-3 newPostForm mb-5">
    <div class="mb-3 mt-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" id="newPostTitle">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Blog Content</label>
        <textarea class="form-control" id="newPostText" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
<div class="container container-fluid">
    {{#each postData}}
        <div class="card text-center">
            <div class="card-header">
                <p class="card-title">{{this.title}}</p>
            </div>
            <div class="card-body">
                <p class="card-text">{{this.text}}</p>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">Posted by {{this.user.username}} on {{date_formatter this.createdAt}}</p>
            </div>
        </div>
    {{else}}
    <h1>There are no posts to display.</h1>
    {{/each}}
</div>

<script src="js/create-post.js"></script>
